/* 先にフォントを読み込ませたいので、フォントURLを上に置く */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import "tailwindcss";

/* アプリ全体のベースとフォーム部品に一括適用 */
body, input, button, select, textarea {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 1.2rem;
}

body.top-page {
  background: radial-gradient(
    /* closest-side, */
    farthest-corner at 40px 40px,
    #ffffcc,
    #f5c9c4,
    #7ec6cc
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* class属性がbuttonの要素（class="button"）に統一のレイアウトを反映させる */
.button {
  @apply border border-solid px-4 py-2;
}
